<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gruppen Übersicht</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2 th:text="${gruppe.getName()}"></h2>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-ausgaben-tab" data-bs-toggle="pill" data-bs-target="#pills-ausgaben"
                type="button" role="tab" aria-controls="pills-ausgaben" aria-selected="true">Ausgaben
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-salden-tab" data-bs-toggle="pill" data-bs-target="#pills-salden"
                type="button" role="tab" aria-controls="pills-salden" aria-selected="false">Salden
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-transaktion-tab" data-bs-toggle="pill" data-bs-target="#pills-transaktion"
                type="button" role="tab" aria-controls="pills-transaktion" aria-selected="false">Transaktionen
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-mitglieder-tab" data-bs-toggle="pill" data-bs-target="#pills-mitglieder"
                type="button" role="tab" aria-controls="pills-mitglieder" aria-selected="false">Mitglieder
        </button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-ausgaben" role="tabpanel" aria-labelledby="pills-ausgaben-tab"
         tabindex="0"><h3>Ausgaben</h3>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ausgabehinzufuegenModal">
            Ausgabe hinzufügen
        </button>
        <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Bezahlt von</th>
            <th>Betrag</th>
            <th></th>
        </tr>
        </thead>
            <tbody th:remove="all-but-first">
            <tr th:each="ausgabe, iterStat: ${gruppe.getAusgaben()}">
                <td th:text="${ausgabe.name}"></td>
                <td th:text="${ausgabe.bezahltVon.githubHandle}"></td>
                <td th:text="${ausgabe.betrag}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-salden" role="tabpanel" aria-labelledby="pills-salden-tab" tabindex="0">
        <h3>Salden</h3>
        <table class ="table">
            <tbody th:remove="all-but-first">
           <!-- <tr th:each="key :${gruppe.berechneSalden().keySet()}">
                <td th:text="${key}"> </td>
                <td th:text="${gruppe.berechneSalden().get(key)}"></td>
            </tr> -->
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="pills-transaktion" role="tabpanel" aria-labelledby="pills-transaktion-tab" tabindex="0">
        <h3>Transaktionen</h3>
    </div>
    <div class="tab-pane fade" id="pills-mitglieder" role="tabpanel" aria-labelledby="pills-mitglieder-tab" tabindex="0">
        <h3>Mitglieder</h3>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mitgliedhinzufuegenModal">
            User hinzufügen
        </button>
        <table class="table mx-auto">
        <tbody th:remove="all-but-first">
        <tr th:each="mitglied: ${gruppe.getMitglieder()}">
            <td th:text="${mitglied.githubHandle}"></td>
        </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="ausgabehinzufuegenModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" th:action="@{/gruppe/ausgaben(id=${gruppe.getId()})}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ausgabe hinzufügen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="ausgabeName" class="col-form-label">Name:</label>
                        <input type="text" name="ausgabeName" class="form-control" id="ausgabeName">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="ausgabeBeschreibung">Beschreibung</label>
                        <textarea class="form-control" id="ausgabeBeschreibung" name="ausgabeBeschreibung"
                                  rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label" for="ausgabeBetrag">Betrag:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">€</span>
                            <input aria-label="Betrag" class="form-control" id="ausgabeBetrag" min="0"
                                   name="ausgabeBetrag"
                                   step="0.01" type="number">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label" for="ausgabeBeteiligte">Bezahlt von:</label>
                        <ul class="list-group" th:each="mitglied : ${gruppe.getMitglieder()}">
                            <li class="list-group-item">
                                <input checked class="form-check-input me-1" name="listGroupRadio" th:id="'radio' + ${mitglied.githubHandle()}"
                                       type="radio" value="">
                                <label class="form-check-label stretched-link"
                                       th:for="'radio' + ${mitglied.githubHandle()}"
                                       th:text="${mitglied.githubHandle()}"></label>
                            </li>
                        </ul>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label" for="ausgabeBeteiligte">Beteiligte:</label>
                        <ul class="list-group" id="ausgabeBeteiligte" th:each="mitglied : ${gruppe.getMitglieder()}">
                            <li class="list-group-item">
                                <input class="form-check-input me-1" th:id="'chk' + ${mitglied.githubHandle()}"
                                       th:value="${mitglied.githubHandle()}" type="checkbox">
                                <label class="form-check-label stretched-link"
                                       th:for="'chk' + ${mitglied.githubHandle()}"
                                       th:text="${mitglied.githubHandle()}"></label>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">Erstellen</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="mitgliedhinzufuegenModal" tabindex="-1" aria-labelledby="mitgliedModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" th:action="@{/gruppe/Mitglieder(id=${gruppe.getId()})}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="MitgliedLabel">Mitglied hinzufügen</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="MitgliedName" class="col-form-label">Name:</label>
                        <input type="text" name="MitgliedName" class="form-control" id="MitgliedName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Erstellen</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>